torch+cpu
torchaudio+cpu
torchvision+cpu
tornado
tqdm
traitlets
transformers
typing-inspect
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wrapt
xxhash
yarl
--index-url https://download.pytorch.org/whl/cpu