.verse {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative
}

.verse-content{
    width: 93%;
    margin: auto;
}


.arabic {
    font-size: 25px;
    font-family: "Amiri Quran", serif;
    word-spacing: 3px;
    line-height: 50px;
}

.btn-tafseer{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1px 8px;
    border-radius: 6px;
}

.btn-tafseer:hover{
    background-color: var(--highlight-color);
}


.translation {
    margin-top: 14px;
    font-style: italic;
    color: #293034;
}