.verse {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative
}


.arabic {
    font-size: 18px;
}

.btn-tafseer{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 1px 8px;
    border-radius: 6px;
}
.cta {
    position: absolute;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.cta:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--primary-color);
    width: 35px;
    height: 35px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 15px;
    font-weight: 700;
    /* letter-spacing: 0.05em; */
    /* color: ; */
}

/* .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
} */

.cta:hover:before {
    width: 100%;
    background: var(--primary-color);
}

/* .cta:hover svg {
    transform: translateX(0);
} */

.cta:active {
    transform: scale(0.95);
}



.translation {
    font-style: italic;
    color: #666;
}