body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.search-container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    align-items:flex-start;
}

.summary-container {
    width: 100%;
    margin-top: 15px;
    /* border: 2px solid red; */
}