body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
}

img {
    max-width: 100%;
}

.search-container {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.verse-container {
    margin-top: 20px;
}

.verse {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.verse h2 {
    margin-bottom: 10px;
}

.arabic {
    font-size: 18px;
}

.translation {
    font-style: italic;
    color: #666;
}

.see-more {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.see-more .down_icon{
    color: #edf3fa;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}