.verse-container {
    margin-top: 20px;
}

.see-more {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.see-more:hover {
    background-color: var(--highlight-color);
}

.see-more .down_icon {
    color: #edf3fa;
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    color: var(--primary-color);
    font-size: larger;
    font-weight: bold;
}