.summary {
    width: 100%;
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 400px;
    /* margin: 0 auto; */
}

.summary-input-container {
    position: relative;
    max-width: 100%;
    display: flex;
    gap: 10px;
}

.summary-input-search-box {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 90%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.dropdown-item:last-child {
    border-bottom: none;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.fetch-summary-btn {
    padding: 3px 3px;
    font-size: 14px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fetch-summary-btn:hover {
    background-color: #0056b3;
}

.surah-summary {
    margin-top: 20px;
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    min-width: 700px;;
}
